/* Container to position the GradientBar, if needed */
.gradient-bar-container {
  position: relative; /* Allows for absolute positioning within */
  height: 100vh; /* Example height, adjust as needed */
  display: flex; /* To center GradientBar, if desired */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Style for the gradient bar with updated properties */
.gradient-bar {
  width: 270px; /* Width set to 270px */
  height: 20px; /* Height set to 20px */
  border-radius: 100px; /* Rounded corners */
  background: linear-gradient(
    90deg,
    #ffecaa 0%,
    #ffc700 32.07%,
    #ffa400 64.04%,
    #ff6b00 100%
  ); /* Custom gradient */
  position: absolute; /* Positioning the bar absolutely */
  top: 40px; /* Top position */
}

/* Additional styles for your app */
.App {
  /* text-align: ; */
}
